@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Nunito:wght@400;600;700;900&display=swap');
/* 
*{
  outline: 1px solid;
} */

header{
  position: fixed;
  width: 100%;
  z-index: 10;
  background: #fff;
}

.mainCarousel{
  padding-top: 65px;
}

.navbar{
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.navbarMobile{
  display: none;
}

.navMobileSearch .searchBar{
  margin: 15px 0px;
}

.navMobileSearch .searchBar .input-group{
  margin: 15px 0px;
  width: 90%;
  margin: 0 auto;
}

.searchBar input{
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.searchBar .input-group-text{
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  background-color: #fff;
}

.myAccount span{
  padding: 11px;
  font-size: 13px;
}

.headerIcons{
  justify-content: center;
}

.miniCart{
  position: relative;
}

.miniCartQuantity{
  position: absolute;
  top: 30%;
  right: -73%;
  background: #F8475F;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.cartQuantity{
  font-size: 10px;
  position: absolute;
  left: 4.7px;
  top: 0.5px;
  color: #fff;
}

.sliderImg{
  height: 430px;
  display: block;
}

.sliderImgMob{
  height: 255px;
  display: none;
}

.mainCarousel .carousel-indicators button{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  background-color: #BDBDBD;
}

.mainCarousel .carousel-caption{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: #000;
    padding-top: 8.25rem;
}

.mainCarousel .carousel-caption h3{
  font-family: 'Nunito';
  font-size: 30px;
  font-weight: 700;
}

.mainCarousel .carousel-caption p{
  font-family: 'Nunito';
  font-size: 42px;
  font-weight: 900;
  text-align: center;
}

.carousel-indicators button.active{
  background-color: #F8475F;
}

.productSlider{
  width: 70%;
  margin: 43px auto;
  position: relative;
}

.productSlider h2{
  font-family: 'Nunito';
  font-weight: 900;
  margin-bottom: 10px;
}

.productSliderTitle{
  margin-bottom: 50px;
}

.underline{
  border: 3px solid #C0C0C0;
  width: 92px;
  margin-bottom: 16px;
}

.slick-prev:before{
  content: '<';
}

.slick-slide{
  padding: 0 10px;
}

.slick-slider{
  width: 100%;
  margin: 0 auto;
}

.slick-slide .card{
  border: none;
  position: relative;
  height: 400px;
}

.slick-slide:hover .card-body{
  background-color: #E6E8EA;
  display: block;
}

.slick-slide:hover .card .btn{
  display: block;
}

.slick-slide .card .btn{
  background-color: #000;
  border: none;
  width: 125px;
  height: 32px;
  border-radius: 5px;
  margin: 0 auto;
  display: none;
  padding-bottom: 29.3px;
}

.slick-slide .card .btn:focus{
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}

.slick-slider.slick-initialized .slick-prev, .slick-slider.slick-initialized .slick-next{
  color: #000;
}

.slick-slider.slick-initialized  .slick-prev:before, .slick-slider.slick-initialized  .slick-next:before{
  color: #000;
}

.productSlider .slick-prev:before, .productSlider .slick-next:before{
  font-size: 30px;
  opacity: 1.75;
}

.offTag {
  width: 0;
  height: 0;
  border-right: 40px solid transparent;
  border-top: 40px solid transparent;
  border-left: 40px solid #F8475F;
  border-bottom: 40px solid #F8475F;
  rotate: 180deg;
  position: absolute;
  right: 0;
}

.offText{
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 16px;
  font-family: 'Nunito';
  font-weight: 900;
  color: #fff;
}

.jewelery .offTag, .jewelery .offText, .women\'s.clothing.card .offTag, .women\'s.clothing.card .offText{
  display: none;
}

.card-img-top{
  width: 100%;
  height: 220px;
  object-fit: contain;
  margin-bottom: 10px;
}

.productSlider .card-title{
  font-family: 'Nunito';
  font-size: 12px;
  color: #7A7A7A;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productSlider .card-text{
  font-family: 'Nunito';
  font-size: 12px;
  color: #7A7A7A;
  text-align: center;
}

.rating{
  color: #F8475F
}

.price{
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.newsletter{
  background-color: #F2F2F2;
  padding-top: 20px;
  height: auto;
  padding-bottom: 38px;
  position: relative;
}

.newsletter h1 {
  text-align: center;
  font-family: 'Lato';
  font-size: 22px;
}

.newsletterForm{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.newsletterForm input{
  width: 280px;
  height: 48px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 10px;
  display: block;
  color: #585858;
  font-size: 12px;
  padding-left: 10px;
}

.inputForm p{
  margin: 10px 0 0 14px;
  font-size: 12px;
  color: #bf1650;
}

input[type="submit"] {
  background: #000;
  color: white;
  text-transform: capitalize;
  border: none;
  border-radius: 0;
  padding: 15px;
  font-size: 14px;
  font-family: 'Lato';
}

.footer{
  background-color: #000;
  color: #fff;
}

.footerContainer{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 30px 0;
  display: flex;
}

.footer h2{
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.footer p {
  font-family: 'Nunito';
  font-size: 13px;
  margin-bottom: 3px;
}

.footer .underline{
  width: 50px;
}

.footerBtns{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBtns button{
  width: 229px;
  height: 38px;
  font-size: 12px;
  margin-bottom: 20px;
}

.btnFooter svg{
  float: left;
}

.footerPowered{
  display: flex;
}

.iconCorebiz{
  margin-right: 20px;
}

.iconVtex img{
  width: 82px;
}

/*Change text in autofill textbox*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.alertSuccessCart{
  width: 50%;
  text-align: center;
  z-index: 10;
  position: absolute !important;
  top: -3%;
  left: 24%;
}

.alertSuccessNews{
  width: 50%;
  text-align: center;
  z-index: 10;
  position: absolute !important;
  top: -2%;
  left: 24%;
}

@media only screen and (min-width: 1800px){

  .sliderImg{
    height: 730px;
  }

}

@media only screen and (max-width: 768px){
  .navbar{
    width: 100%;
  }

  .mainCarousel .carousel-caption h3{
    font-size: 24px;
  }

  .mainCarousel .carousel-caption p{
    font-size: 32px;
  }

  .footerContainer{
    flex-direction: column;
  }

  .footerPowered{
    justify-content: center;
  }

  .newsletterForm input{
    width: 190px;
  }
}

@media only screen and (max-width: 576px){

  .navbar{
    display: none !important;
  }

  .navbarMobile{
    display: block;
  }

  .menuMobile{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .miniCart{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
  }

  .logo{
    display: flex;
    justify-content: center;
  }

  .miniCartQuantity{
    right: 36%;
  }

  .mainCarousel {
    padding-top: 125px;
  }

  .mainCarousel .carousel-caption{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.75 ;
    padding-top: 5rem;
  }

  .mainCarousel .carousel-caption h3{
    font-size: 24px;
  }

  .mainCarousel .carousel-caption p{
    font-size: 32px;
  }

  .sliderImg{
    display: none;
  }
  
  .sliderImgMob{
    display: block;
  }

  .productSlider{
    width: 90%;
  }

  .slick-slide{
    width: 163px;
    padding: 0 20px;
  }

  .slick-slide .card .btn{
    display: block;
  }

  .newsletterForm{
    flex-direction: column;
    align-items: center;
  }

  .newsletterForm input{
    width: 300px;
  }

  .inputForm{
    margin-bottom: 10px;
  }

  .footerPowered{
    justify-content: space-evenly;
  }

}

@media only screen and (max-width: 375px){
  
  .miniCartQuantity{
    right: 31%;
  }

  .slick-slide .card{
    height: 440px;
  }

  .slick-slide .card .btn{
    width: 75px;
    height: 32px;
    font-size: 10px;
    padding-bottom: 5.3px;
  }
}